.formDataWrapper {
  @include for-size(992px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    column-gap: 15%;
  }
}

.form {
  position: relative;
  display: grid;
  width: 100%;
  margin-bottom: 15px;

  &__subtitle {
    font-weight: 700;
    font-size: 17px;
    color: $main-green;
    font-family: $font-nunito;
    margin-bottom: 5px;

    @include for-size(992px) {
      margin-bottom: 15px;
    }

    @include for-size(1200px) {
      margin-bottom: 15px;
    }
  }

  &__message {
    border-radius: 24px;
    border: 1px solid $secondary-text-color;
    padding: 13px 20px;

    &:focus {
      outline: transparent;
    }
  }


  &__passwordIcon {
    width: 25px;
    height: 25px;
    fill: #c6c6c6;
    position: absolute;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
  }

  &__passwordIconActive {
    width: 25px;
    height: 25px;
    fill: $main-green;
    position: absolute;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
  }
  &__errorMessage {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 14px;
  }

  &__longErrorMessage {
    position: absolute;
    bottom: -30px;
    color: red;
    font-size: 10px;
    margin-bottom: 4px;
    @include for-size(768px) {
      bottom: -20px;
    }
    @include for-size(992px) {
      margin-bottom: 0;
      bottom: -30px;
    }
  }
}

.buttonWrapp {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $main-orange;
  border-radius: 24px;
  gap: 50px;
  @include for-size(476px) {
    background-color: white;
  }
  @include for-size(992px) {
    margin-top: 120px;
    display: flex;
    justify-content: center;
  }
}
