body {
    font-family: $font-montserrat;
    box-sizing: border-box;
    color: $main-text-color;
    font-size: 17px;
    line-height: 1.5;
  }

.overLayCartModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15000;
}