.cartModal {
  position: fixed;
  top: 0;
  right: -850px;
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s linear;
  z-index: 20000;

  padding: 30px;
}

.cartModal.openCart {
  transform: translateX(-100%);
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cartTitle {
  margin-top: 0;
}

.cartHeaderButton {
  background: #ffffff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}