@mixin for-size($size) {
    @include for-size($size) {
        @content;
    }
}

.partners {
    display: flex;
    justify-content: space-evenly;
    padding: 80px 0;
    background-color: #FAFAF5;
}

.partnerHemp {
    width: 320px;
    text-align: center;
}

.partnerGreen {
    width: 320px;
    display: none;
    text-align: center;

    @include for-size(576px) {
        display: block;
    }
}

.partnerVerano {
    width: 320px;
    display: none;
    text-align: center;

    @include for-size(768px) {
        display: block;
    }
}

.partnerHoly {
    width: 320px;
    display: none;
    text-align: center;

    @include for-size(992px) {
        display: block;
    }
}

.partnerCresco {
    width: 320px;
    display: none;
    text-align: center;

    @include for-size(1200px) {
        display: block;
    }
}