.wpapperLink {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 20%;
  right: 25%;
}

.styleIcon {
  background-color: $main-orange;
  fill: $main-green;
  width: 35px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid $main-green;
  transition: fill 0.5s ease;
  &:hover {
    fill: $white-text-color;
    background-color: $secondary-green;
    border: 1px solid $white-text-color;
  }
}

.styleIconLink {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  fill: $main-orange;
  background: $main-green;
  border: 1px solid $main-green;
  transition: background 0.5s ease;
  &:hover {
    fill: $secondary-green;
    background: $white-text-color;
    border: 1px solid $white-text-color;
  }
}
