.productCard {
    max-width: auto;
    padding: 0 20px;
    @include dflex-column-jcfs-aic;
    overflow: hidden;
    font-size: 14px;
    background: $color-white;
    box-shadow: 0 0 15px rgba(37,143,103,.1);
    border-radius: 16px;
    transition: .3s ease-in-out;

    &__media {
        position: relative;
        min-width: 100%;
        margin-bottom: 10px;
        background-color: $color-white;

        
        &__productLink {
            width: 100%;
            overflow: hidden;

            &__imageWrapper {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                
                &__image {
                    max-width: 280px;
                    max-height: 200px;

                }
            }
        }

        &__buttonAddFavorites {
            position: absolute;
            top: 30px;
            right: 30px;
            height: 40px;
            width: 40px;
            @include dflex-jcc-aic;
            background: $color-white;
            border-radius: 50%;
            border: 1px solid $main-orange;
            cursor: pointer;

            &:is(:hover, :focus) {
                background: $main-orange;
                color: $white-text-color;

                .favoriteIcon {
                    fill: $white-text-color;
                }
                
            }

            .favoriteIcon {
                fill: $main-orange;
                width: 19px;
                height: 16px;

            }
            
        }
       
        &__saleLabel {
            position: absolute;
            top: 0;
            left: 0;
            margin: 30px 0 0 30px;
            padding: 3px 15px;
            background-color: $secondary-green;
            border-radius: 16px;
            z-index: 10;
           
            &__saleText {
                font-weight: 600;
                color: $white-text-color;
            }
        }     
    }
    &__main {
        width: 100%;
        padding: 0 30px 30px;
        @include dflex-column-jcfs-aic;
    

        &__rating {
            height: 21px;
        }
        &__titleLink {        
            margin: 10px 0;
            font-family: $font-nunito;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.3;
            text-decoration: none;  
            color: $main-green;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:is(:hover, :focus) {
                color: $secondary-green;
            }
            
        }
        &__productPrices {
            width: 100%;
            margin: 15px 0 20px;
            @include dflex-jcc-aic;
            font-size: 22px;
            line-height: 1.1;
            font-family: $font-nunito;

            &__previousPrice {
                margin-right: 15px;
                font-weight: 700;
                color: $secondary-text-color;
                text-decoration: line-through;
            }
            &__currentPrice {
            color: $main-green;
            font-weight: 800;                  
            }
        }

        .whiteBtn {
            font-family: $font-nunito;
            background-color: $color-white;
        }
    }
}

