.label {
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;

}

.errorInput {
  color: red;
  font-size: 10px;
  margin-top: 5px;
  text-align: left;
}

.formItem {
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
}