.label {
  font-size: 14px;
  text-align: left;
  position: relative;
}

.errorInput {
  color: red;
  padding: 0;
  font-size: 10px;
  //margin-top: 5px;
  //text-align: left;
  position: absolute;
  top: 77px;
  width: 200px;
}

.formItem {
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 20px;
  border: 1px solid $tertiary-green;
  height: 48px;
}