.error-input{
  color: red;
  font-size: 12px;
}

.form-item {
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  //&:hover,
  //&:focus{
  //  border-color: #98a4ad;
  //  box-shadow: 0 0 0 0.25rem rgba(172, 168, 196, 0.16);
  //}
}