.btn {
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 24px;
  font-weight: 700;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

.orangeBtn {
  background-color: #efc368;
  color: #214842;
  border: none;
}

.orangeBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.whiteBtn {
  color: #258f67;
  border: 1px solid #258f67;
}

.whiteBtn:hover {
  background-color: #258f67;
  color: #fff;
  cursor: pointer;
}
