.pagination {
  display: flex;
  //   gap: 10px;
  list-style-type: none;
}

.page_item {
  cursor: pointer;
  padding: 20px;
  margin: 3px;
  border: 1px solid black;
  &:hover {
    background-color: lightgray;
  }
  &_active {
    background-color: red;
  }
}
