.cart_summaryForm {
  margin-bottom: 30px;

  .cart_summaryForm_header {
    margin: 0 0 20px;
    color: $main-green;
    font-family: $font-nunito;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.3;
  }
}
