.footer {
  background-color: $main-green;
  min-width: 320px;
  height: 100%;

  @include _320 {
    background-color: lightgoldenrodyellow;
  }

  @include _768 {
    background-color: lightsteelblue;
  }

  @include _1380 {
    background-color: lightgray;
  }

  .container {
    position: relative;
    margin: 0 auto;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    background-color: $background-image-hover;
    @include dflex-jcsb-aic;
    flex-direction: column;

    @include _1380 {
      max-width: calc(1374px - 1.5rem);
    }

    &__main {
      width: 100%;
      padding: 10px 0;
      background-color: $main-green;

      @include dflex-jcsb-aic;

      &__content {
        color: $white-text-color;
      }
      .doneIcon {
        fill: $main-orange;
        width: 18px;
        height: 18px;
      }
    }

    &__secondary {
      display: inline-block;
      color: $main-orange;
      background-color: $background-image-hover;
    }

  }
}


