.footer {
  background-color: $main-green;
  min-width: 320px;
  height: 100px;

  @include _320 {
    background-color: black;
  }

  @include _768 {
    background-color: purple;
  }

  .container {
    position: relative;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: $background-image-hover;
    @include dflex-jcsb-aic;

    @include _1380 {
      max-width: calc(1380px - 2rem);
    }

    &__main {
      padding: 10px 0;
      display: inline-block;
      @include dflex-jcc-aic;

      &__content {
        color: $white-text-color;
      }
    }

    &__secondary {
      display: inline-block;
      color: $main-orange;
      background-color: $background-image-hover;
    }

    span {
      color: $secondary-green;
    }
  }
}


