.container {
    // width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 20px;
    // padding: 90px 0 0 0;
    width: 100%;
    background-color: $color-white;
    margin-top: 60px;
    @include dflex-column-jcfs-aic;

    @include _576 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
        align-items: flex-start;
    }

    @include _768 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }

    @media (min-width:1200px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }
}


.emptyWishlist {
    font-family: $font-montserrat;
    font-size: 24px;
    line-height: 1.5;
}