.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 90px 0 0 0;
}

.emptyWishlist {
    font-family: $font-montserrat;
    font-size: 24px;
    line-height: 1.5;
}