@mixin for-size($size) {
  @media (min-width: $size) {
    @content;
  }
}

.wrapper_name_email {
  // display: flex;
  // flex-direction: column;
  // flex: 1;
  @include for-size(992px) {
    // flex-direction: row;
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
}

.form {
  position: relative;
  display: grid;
  width: 100%;
  margin-bottom: 20px;
  // grid-template-columns: 1fr;

  @include for-size(992px) {
    // width: calc(50% - 40px);
    // min-width: 100%;
    // grid-template-columns: repeat(2, 1fr);
  }

  &:last-child {
    @include for-size(992px) {
      width: 100%;
    }
  }

  @include for-size(1200px) {
    // display: grid;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 17px;
    color: $main-green;
    font-family: $font-nunito;
    margin-bottom: 5px;

    @include for-size(992px) {
      margin-bottom: 15px;
    }

    @include for-size(1200px) {
      margin-bottom: 15px;
    }
  }

  &__message {
    border-radius: 24px;
    border: 1px solid $secondary-text-color;
    padding: 13px 20px;
  }

  &__errorMessage {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 14px;
    padding-top: 5px;
  }

  &__messageText {
    border-radius: 24px;
    border: 1px solid $secondary-text-color;
    padding: 13px 20px;
    min-height: 135px;
    resize: none;
    @include for-size(992px) {
      margin-bottom: 40px;
    }
  }
}

.buttonWrapp {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $main-orange;
  border-radius: 24px;
  @include for-size(576px) {
    justify-content: flex-start;
    background-color: white;
  }
}
