@mixin for-size($size) {
  @media (min-width: $size) {
    @content;
  }
}

.hero {
  text-align: center;
  width: 100%;
  @include for-size(576px) {
    text-align: left;
  }
  // @include for-size(768px) {
  //   text-align: center;
  // }
  @include for-size(1200px) {
    display: flex;
    //   background: linear-gradient(
    //   to left,
    //   #214842 0%,
    //   #214842 50%,
    //   #ffffff 50%,
    //   #ffffff 100%
    // );
  }
}

.staticContainer {
  position: relative;
  // z-index: 0;
  // @include for-size(576px) {
  //   text-align: left;
  // }
  @include for-size(1200px) {
    // width: 50%;
    width: 40%;
    position: relative;
    z-index: -1;
  }
}

.heroTitle {
  color: #214842;
  font-size: 36px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  @include for-size(768px) {
    font-size: 40px;
  }
  @include for-size(992px) {
    font-size: 56px;
  }
  @include for-size(1200px) {
    max-width: 500px;
  }
}

.staticText {
  font-size: 17px;
  color: #556260;
  line-height: 1.5;
  padding-bottom: 20px;
  @include for-size(1200px) {
    max-width: 400px;
  }
}

.phoneImg {
  width: 40px;
  height: 40px;
  padding-bottom: 15px;
  @include for-size(576px) {
    padding-right: 15px;
  }
}
// .contactInfo {
// 	// display: flex;
// 	// flex-direction: column;
// 	// @include for-size(769px) {
// 	// 	flex-direction: row;
// 	// }
// }

.contactsMessage {
  padding-top: 20px;
  color: #556260;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include for-size(576px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.phoneNumText {
  display: flex;
  flex-direction: column;
}
// .phoneInfo {
// 	display: flex;
// 	justify-content: center;
// }

span {
  font-size: 14px;
  color: #556260;
}

.linkTel {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: #214842;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 80px;
}

.dinamicContainer {
  background-color: #214842;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  @include for-size(576px) {
    // display: flex;
    // flex-direction: column;
    // text-align: left;
    // justify-content: flex-start;
  }
  @include for-size(768px) {
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
  }
  @include for-size(1200px) {
    // width: 50%;
    width: 60%;
    // background: linear-gradient(
    //   to right,
    //   #214842 10%,
    //   transparent 10%,
    //   transparent 100%
    // );
    // background-size: 100% 100%;
    background: linear-gradient(
      to right,
      white 15%,
      #214842 15%,
      #214842 90%,
      #214842 90%
    );
    background-size: 100% 100%;
  }
}

// .heroImgSwiper {
//   // position: relative;
//   @include for-size(768px) {
//     margin-right: 20px;
//   }
// }

.heroImg {
  // width: 55%;
  max-width: 100%;
  // height: 100%;
  height: 350px;
  // height: auto;
  margin: 0 auto;
  object-fit: cover;
  // @include for-size(768px) {

  // }
  @include for-size(992px) {
    height: 510px;
  }
  @include for-size(1200px) {
    // transform: translateX(-50%);
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 3;
    position: relative;
    height: 550px;
  }
}

.infoProductContainer {
  display: flex;
  flex-direction: column;
}

.textImg {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.title,
.info,
.link {
  color: white;
}

.title {
  font-size: 30px;
  @include for-size(992px) {
    font-size: 36px;
  }
}

.info {
  font-size: 17px;
  line-height: 24px;
  @include for-size(576px) {
    max-width: 300px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  // @include for-size(576px) {
  // 	justify-content: flex-start;
  // }
}

.link {
  font-size: 17px;
  display: flex;
  justify-content: center;
  @include for-size(576px) {
    justify-content: flex-start;
  }
}

.doneImg {
  padding-right: 10px;
  padding-bottom: 10px;
}

.aboutProduct {
  font-size: 17px;
  display: inline-block;
  color: #efc368;
  position: relative;
  padding-bottom: 30px;
}

.aboutProduct::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 22px;
  width: 100%;
  height: 2px;
  background-color: #efc368;
  // transform: scaleX(0);
  // transform-origin: 0 0;
  // transition: transform 0.3s ease;
}

// .aboutProduct:hover::after {
//   transform: scaleX(1);
// }

// .textImgwrapper {
//   @include for-size(576px) {
//     display: flex;
//     flex-direction: column;
//     // justify-content: flex-start;
//   }
// }
.paginationWrap {
  position: relative;
  // @include for-size(576px) {
  //   display: flex;
  //   justify-content: center;
  //   padding-bottom: 15px;
  // }
}

.singleBullet {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding-right: 15px;
  // transition: font-size 0.3s ease;
  transition-property: font-size;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  position: relative;
  @include for-size(576px) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    // position: relative;
    bottom: 230px;
  }
  @include for-size(768px) {
    // position: relative;
    bottom: 115px;
  }
  @include for-size(992px) {
    // position: relative;
    bottom: 230px;
  }
  // @include for-size(1200px) {
  //   // position: relative;
  //   bottom: 230px;
  // }
}

.activeBullet {
  font-weight: 700;
  font-size: 22px;
}

// .pagination {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 15px;
// }
.heroImgSwiper {
  // overflow: visible !important;
  @include for-size(1200px) {
    // position: relative;
    z-index: 5;
    position: relative;
  }
}

.heroTextSwiper {
}
