.heroWrrap {
  padding-top: 90px;
  @include for-size(768px) {
    padding-top: 130px;
  }
  @include for-size(1200px) {
    background: linear-gradient(to right, #fafaf5 50%, $main-green 50%);
    padding-top: 0;
  }
}

.hero {
  text-align: center;
  width: 100%;
  position: relative;
  @include for-size(576px) {
    text-align: left;
  }
  @include for-size(1200px) {
    display: flex;
  }
}

.staticContainer {
  @include for-size(1200px) {
    width: 40%;
    padding-top: 150px;
  }
}

.heroTitle {
  color: $main-green;
  font-size: 36px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  @include for-size(768px) {
    font-size: 40px;
  }
  @include for-size(992px) {
    font-size: 56px;
  }
  @include for-size(1200px) {
    max-width: 500px;
  }
}

.staticText {
  font-size: 17px;
  color: $main-text-color;
  line-height: 1.5;
  padding-bottom: 20px;
  @include for-size(1200px) {
    max-width: 400px;
  }
}

.phoneImg {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  transition-duration: 0.5s;
  @include for-size(576px) {
    margin-right: 15px;
  }
}

.phoneImg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.phoneImgFill {
  fill: $secondary-green;
  width: 40px;
  height: 40px;
}

.contactsMessage {
  padding-top: 20px;
  color: $main-text-color;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include for-size(576px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.phoneNumText {
  display: flex;
  flex-direction: column;
}

.tel {
  font-size: 14px;
  color: $main-text-color;
  font-family: $font-montserrat;
}

.linkTel {
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: $main-green;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 80px;
}

.dinamicContainer {
  background-color: $main-green;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  @include for-size(768px) {
    display: flex;
  }
  @include for-size(1200px) {
    padding-top: 150px;
    width: 60%;
    background: linear-gradient(
      to right,
      #fafaf5 23%,
      $main-green 23%,
      $main-green 90%,
      $main-green 90%
    );
    background-size: 100% 100%;
  }
}

.dinamicContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -11px;
  right: -11px;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    $main-green 0.75rem,
    transparent 0.75rem,
    transparent calc(100% - 0.75rem),
    $main-green calc(100% - 0.75rem)
  );
}

.heroImg {
  max-width: 100%;
  height: 350px;
  margin: 0 auto;
  object-fit: contain;
  @include for-size(992px) {
    height: 510px;
  }
  @include for-size(1200px) {
    height: 610px;
  }
}

.infoProductContainer {
  display: flex;
  flex-direction: column;
}

.textImg {
  color: $white-text-color;
  font-weight: bold;
  font-size: 20px;
}

.title,
.info,
.link {
  color: $white-text-color;
}

.title {
  font-size: 30px;
  @include for-size(992px) {
    font-size: 36px;
  }
}

.info {
  font-size: 17px;
  line-height: 24px;
  @include for-size(576px) {
    max-width: 300px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-size: 17px;
  display: flex;
  justify-content: center;
  @include for-size(576px) {
    justify-content: flex-start;
  }
}

.doneImg {
  padding-right: 10px;
  padding-bottom: 10px;
}

.doneImgFill {
  fill: $main-orange;
  width: 20px;
  height: 20px;
}

.aboutProduct {
  font-size: 17px;
  display: inline-block;
  color: $main-orange;
  position: relative;
  padding-bottom: 30px;
  text-decoration: none;
  margin-bottom: 30px;
}

.aboutProduct:hover {
  cursor: pointer;
}

.aboutProduct::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 22px;
  width: 100%;
  height: 2px;
  background-color: $main-orange;
}

.aboutProduct:hover::after {
  cursor: pointer;
  animation: underline 0.5s ease-in-out;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.paginationWrap {
  position: relative;
}

.singleBullet {
  font-weight: 600;
  font-size: 16px;
  color: $white-text-color;
  padding-right: 15px;
  transition-property: font-size;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  position: relative;
  cursor: pointer;
  @include for-size(576px) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    bottom: 230px;
  }
  @include for-size(768px) {
    bottom: 115px;
  }
  @include for-size(992px) {
    bottom: 230px;
  }
  @include for-size(1200px) {
    bottom: 270px;
  }
}

.activeBullet {
  font-weight: 700;
  font-size: 22px;
}
