.countWrapper {
  display: flex;
  justify-content: space-between;
  background-color: $color-white;
  padding: 13px 15px;
  box-shadow: 1px 2px 15px rgba(33, 72, 66, 0.07);
  border-radius: 24px;
  width: 110px;
}

.countBtn {
  border: none;
  background-color: $color-white;
}

span {
  color: $main-green;
  font-family: $font-nunito;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}

.countIcon {
  width: 13px;
  height: 17px;
  fill: $main-green;
  cursor: pointer;
}

.countBtn:disabled .countIcon {
  fill: grey;
  cursor: auto;
}
