.form {
  //text-align: left;
}

.form_name {
  //display: flex;
  //align-items: center;
  text-align: center;
}

.logoIcon {
  width: 50px;
  margin: 0 auto;
}

.title {
  color: $main-green;
  font-family: $font-nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
   margin-left: 10px;
  line-height: 30px;
  // text-align: center;
}

.accentColor {
  color: $secondary-green;
}

.wrapperLogin {
  margin-top: 10px;
  border: none;
  padding: 10px;
  background-color: $color-white;
}

.passwordInput {
  margin-top: 15px;
  position: relative;
}

.forgotPassword {
  position: absolute;
  top: 65px;
  right: 0;
  //font-size: 12px;
  color: $secondary-green;
  font-family: $font-nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btnLogin {
  width: 100%;
  height: 40px;
  background: $main-orange;
  border-radius: 20px;
  margin-top: 40px;
  padding: 5px 16px;
  color: white;

  &:hover {
    background: $secondary-green;
  }
}

.btnCreate {
  //border-radius: 24px;
  border: 1px solid $secondary-green;
  border-radius: 20px;
  margin-top: 40px;
  padding: 5px 16px;
  width: 100%;
  height: 40px;
  background-color: $color-white;
  text-align: center;
  font-family: $font-nunito;
  color: $secondary-green 
}
.btnCreate:hover {
    background-color: #D1E7DF;
}

.footerInput {
  //border: 1px solid #21262d;
  // padding: 16px;
  // margin-top: 16px;
  border: none;
  text-align: center;
}

.createAcc {
  margin-left: 5px;
  font-size: 14px;
}

.wrapperLogin {
  // margin-top: 10px;
  // border: 1px solid #21262d;
  // padding: 16px;
  // border-radius: 6px;
  // background: #f8f2f2;

  //p {
  //  font-size: 14px;
  //  text-align: left;
  //  margin-bottom: 8px;
  //}
}

//.title {
//}

//.socialLinksWrapper {
//
//}
//
//.facebook {
//  background-color: #228BE6;
//  border-radius: 5px;
//  color: white;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//  padding: 15px 25px;
//  width: 100%;
//
//
//  svg {
//    fill: white;
//    margin-right: 5px;
//  }
//}

//.google {
//  border-radius: 5px;
//  color: gray;
//  background-color: white;
//
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//  padding: 15px 25px;
//  width: 100%;
//  margin-top: 15px;
//
//  svg {
//    margin-right: 5px;
//  }
//}