.form {
  text-align: center;
}

.footerInput {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

//.title {
//}

//.socialLinksWrapper {
//
//}
//
//.facebook {
//  background-color: #228BE6;
//  border-radius: 5px;
//  color: white;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//  padding: 15px 25px;
//  width: 100%;
//
//
//  svg {
//    fill: white;
//    margin-right: 5px;
//  }
//}

//.google {
//  border-radius: 5px;
//  color: gray;
//  background-color: white;
//
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//  padding: 15px 25px;
//  width: 100%;
//  margin-top: 15px;
//
//  svg {
//    margin-right: 5px;
//  }
//}