* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 10000;


  svg {
    width: 48px;
    height: 45px;
  }

  a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;

    display: flex;
    align-items: center;
  }
}

.header.scrolled {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding 0.3s ease; /* Добавляем плавную анимацию перехода */
  background-color: #ffffff;
}

.sticky {
  display: none;
  position: sticky;
  top: 0;
  transition: padding 0.5s, display 0.5s; /* Добавляем плавную анимацию для padding и display */
}

.wrapp {
  display: flex;
  align-items: center;
}

.header_logoTitle {
  color: $main-green;
  font-family: $font-nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;


  @media (max-width: 1199.99px) {
    display: none;
  }
  @media (min-width: 767.99px) {
    display: block;
  }
}

.accentColor {
  color: $secondary-green;
}

.header_navList {
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.5px;
  padding: 0;

  @media (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  a {
    color: $main-green;
  }
}

.header_navItem {
  display: inline-block;
  margin-left: 20px;
  padding-left: 0;
  color: $main-green;
  font-family: $font-nunito;

  @media (max-width: 1199.98px) {
    display: flex;
    margin-left: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
}

.toggleBtn {
  display: none;
  width: 30px;
  height: 28px;
  margin-right: 15px;

  @media (max-width: 1199.98px) {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.line {
  border-radius: 2px;
  background: #214842;
  height: 4px;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.shortLine {
  width: 75%;
}

.toggleBtn.active .shortLine {
  width: 100%;
}

.list {
  margin-left: 60px;
  @media (max-width: 1199.98px) {
    display: none;
  }
}

.mobileNav {
  padding-top: 30px;

  @media (max-width: 1199.98px) {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
  }
}

.header_user {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  gap: 30px;

  svg {
    width: 15px;
    height: 15px;
  }

  @media (max-width: 767.98px) {
    gap: 10px;
  }
}

.header_userSearchForm {
  display: inline;
  margin-right: 130px;
  position: relative;

  @media (max-width: 1199.98px) {
    margin-right: 0;
  }
}

.header_userSearchInput {
  display: inline;
  padding: 0 20px;
  height: 40px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  background: #fff;
  outline: none;
  cursor: pointer;

  @media (max-width: 767.98px) {
    display: none;
  }
}

.header_userSearchButton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;

  border-radius: 50%;
  background: #efc368;
  fill: #214842;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 15px;
    height: 15px;
  }

  @media (max-width: 767.98px) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }
}

.header_userLink {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #efc368;
  border-radius: 50%;

  svg {
    fill: $main-green;
  }
}