.swiperWrap {
  //   width: 500px;
  //   height: 400px;
  padding-top: 160px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

// .myMainSwiperWrap {
//   display: flex;
//   justify-content: flex-start;
// }

.myMainSwiper {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.mySwiper {
  width: 175px;
  height: 135px;
  object-fit: cover;
  //   border-radius: 20px;
}
