.list {
  list-style: none;
  padding-left: 0;
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;

  span {
    //color: $main-green;
    margin-bottom: 30px;

    font-weight: 800;
    color: #214842;
    font-size: 24px;
    line-height: 1.1;
  }
}

.orangeBtn {
  font-size: 17px;
  padding: 10px 25px;
  min-height: 48px;
  border-radius: 50px;
  font-weight: 700;
  font-family: $font-nunito;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  text-decoration: none;

  background-color: $main-orange;
  color: $main-green;
  border: none;

  &:hover {
    transform: scale(1.1);
  }
}